
/* Contact */

.home {
    height: auto;
    background: linear-gradient(0deg, rgb(8, 18, 9, 0.8), rgb(8, 18, 9, 0.8)), url(../img/contact_img.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: repeat-y;
    background-position: right;
    position: relative;
    display: flex;
    align-items: center;
}
.content {
    padding-bottom: 100px;
    padding-top: 276px;
    display: flex;
    flex-direction: column;
    gap: 29px;
}
.home .content h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 78px;
    color: #FFFFFF;
}
.home .content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 438px;
    width: 100%;
}

.form {
    background-color: #fff;
    padding-bottom: 100px;
}
.form .form_detail {
    max-width: 1083px;
    width: 100%;
    /* transform: translateY(-100px); */
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: flex-start;
    background-color: #081209;
    justify-content: space-between;
}
.form .form_detail .img {
    background: #081209;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    align-self: center;
    padding: 0px 20px;
}
.form .form_detail img {
    width: 100%;
    max-width: 500px;
}
.form .form_detail .name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #F1D276;
    text-align: center;
}
.form .form_detail .post {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.form .form_detail .form_content {
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    gap: 42px;
}
.form .form_detail form {
    width: 100%;
    background-color: #fff;
    max-width: 615px;
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding: 0px 62px;
}
.form .form_detail form input {
    width: 100%;
    max-width: 491px;
    height: 56px;
    background: #ECECEC;
    outline: none;
    padding: 16px 22px 17px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #ABABAB;
}
.form .form_detail form textarea {
    background: #ECECEC;
    outline: none;
    padding: 16px 22px 17px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    color: #ABABAB;
}
.form .form_detail form button {
    border: none;
    background: #033407;
    width: 181px;
    height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px 27px;
    align-self: flex-end;
    border-radius: 5px;
    transition: 0.2ms all ease-in-out;
}
.form .form_detail form button:hover {
    font-size: 18px;
}

.contact_address {
    background-color: #fff;
    padding-bottom: 90px;
}
.contact_address .items {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
    justify-content: center;
}
.contact_address .item {
    width: 300px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 10px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    padding: 30px 40px;
}
.contact_address .item img {
    width: 69px;
    height: 69px;
}
.contact_address .item .img {
    width: 67px;
    height: 48px;
}
.contact_address .item h3 {
    padding-top: 26px;
    padding-bottom: 18px;
}


.map {
    position: relative;
}
.map_content {
    position: relative;
}
.map_content .img {
    height: auto;
}
.map .map_content .note {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.map .map_content .note_contact {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 34px;
    border: none;
    outline: none;
    padding-left: 50px;
}
.map .map_content .note_contact .details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.map .map_content .note_contact p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.64);
}
.map .map_content .note_contact h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #0F69D7;
}
.map .map_content .note .house_img {
    max-width: 361px;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Contact */

/* About */

.about_home {
    background: linear-gradient(0deg, rgb(8, 18, 9, 0.8), rgb(8, 18, 9, 0.8)), url(../img/about.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: center;
    height: 560px;
}
.body {
    background-color: #fff;
}
.body .content .origin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 50px;
}
.body .content .origin .text {
    max-width: 600px;
    width: 100%;
}
.body .content .origin .text h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    text-align: justify;
    color: #B50F25;
}
.body .content .origin  .text  h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 57px;
    padding: 25px 0px;
    line-height: 69px;
}
.body .content .origin .text p, .body .content .other_text p {
    line-height: 42px;
}
.body .content .origin .img {
    max-width: 400px;
    width: 100%;
}
.body .content .origin .img img {
    width: 100%;
}
.body .content {
    padding-top: 117px;
    font-size: 20px;
}

/* -------- fellowship */

.body .fellowship {
    /* padding-top: 78px; */
}
.body .fellowship h2{
    max-width: 90%;
    margin: 0 auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: justify;
    color: #B50F25;
}
.body .fellowship .fellowship_detail {
    background: #F3F3F3;
    padding-top: 26px;
    padding-bottom: 20px;
}
.fellowship_items {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.body .fellowship .fellowship_detail .fellowship_items .fellowship_item_detail p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    text-align: justify;
}
.vision {
    display: flex;
    column-gap: 10px;
    row-gap: 50px;
}
.vision .text {
    max-width: 698px;
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 20px;
    line-height: 42px;
    text-align: justify;
}
.vision .image {
    max-width: 500px;
    width: 100%;
    padding: 0px 20px;
    position: relative;
}
.vision .image img {
    width: 100%;
}

.image_content .content_item .fam,
.image_content .content_item .fellow,
.image_content .content_item .org {
    border: 1px dashed green;
    border-radius: 50%;
    width: 281px;
    text-align: center;
    height: 281px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_content .content_item .org {
    left: 5%;
}
.image_content .content_item .fellow {
    left: 50%;
}
.image_content .content_item .fam {
    left: 30%;
    top: 180px;
}
.image_content .content_item p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 54px;
    text-align: justify;
    color: #060606;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ---------------other */
.other {
    display: flex;
    padding: 54px 0px 89px 0px;
    gap: 30px;
    width: 100%;
    justify-content: space-between;
}
.other .img {
    width: 50%;
}
.other .img img {
    width: 100%;
}
.other .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 50px 0px 0px;
    width: 50%;
}
.other .text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
}


/* About */


/* ruggae */

.ruggae {
    background-image: url(../img/about_us_raggea_img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.ruggae .content {
    padding-left: 100px;
    padding-top: 45px;
    padding-bottom: 50px;
    max-width: 90%;
    width: 100%;
    margin: 0px auto;
}
.ruggae .content .quote {
    display: flex;
    flex-direction: column;
    gap: 74px;
    position: relative;
    width: 90%;
}
.ruggae .rural_text, .ruggae .purpose {
    background: rgba(53, 53, 53, 0.71);
    border-radius: 0px 0px 50px 0px;
    display: flex;
    align-items: center;
    max-width: 626px;
    width: 100%;
    position: relative;
    padding: 20px 40px 30px 0px;
}
.ruggae .quote .para1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 52px;
    line-height: 78px;
    text-align: justify;
    color: #FFFFFF;
    background: #050D02;
    border-radius: 50%;
    padding: 10px 30px;
    transform: translateX(-50%);
}
.ruggae .quote .para2 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

/* ruggae */

/* zone */

.zones {
    padding-top: 86px;
    background-color: #fff;
}
.zones .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 51px;
}
.zones a {
    color: #000;
}
.zones .zone {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.zones .zone .zone_items {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.zones .zone .zone_items .details {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.zones .zone .zone_items .details p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

/* zone */


/* youtube_link */

.youtube_link {
    position: relative;
}
.youtube_link a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 190px;
    translate: -50% -50%;
}
.youtube_link a img {
    max-width: 190px;
    width: 100%;
}


/* youtube_link */

/* Contact */

.contact_us {
    background: #fff;
    padding: 70px 0px 96px;
}
.contact_us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_us .container h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.contact_us .container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: #101010;
    padding: 19px 0px 23px;
}
.contact_us .container button {
    border: none;
    background: #033407;
    padding: 10px 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    border-radius: 5px;
}



/* Contact */

@media only screen and (max-width: 1150px) {
    .vision {
        flex-wrap: wrap;
        justify-content: center;
    }
    .vision .text {
        max-width: 100%;
    }
}

@media only screen and (max-width: 1110px) {
    .other {
        align-items: center;
    }
    .other .img {
        max-width: 550px;
        width: 100%;
    }
    .other .text {
        width: 100%;
        max-width: 550px;
    }
}
@media only screen and (max-width: 900px) {
    .body .content .origin .text {
        max-width: 100%;
    }
    .body .content .origin {
        flex-wrap: wrap;
        justify-content: center;
    }
    .other {
        flex-wrap: wrap;
    }
    .other .img {
        max-width: 100%;
        padding: 0px 50px;
    }
    .other .text {
        text-align: center;
        padding: 0px 40px;
        max-width: 100%;
    }
    .form .form_detail .name {
        font-size: 18px;
    }
    .form .form_detail .post {
        font-size: 16px;
    }
}
@media only screen and (max-width: 768px) {
    .ruggae .quote .para2 {
        font-size: 20px;
        transform: translateX(-10%);
    }
    .ruggae .quote .para1 {
        font-size: 40px;
    }
    .ruggae .rural_text, .ruggae .purpose {
        padding: 20px 20px 30px 0px;
    }
    .ruggae .content {
        padding-left: 50px;
    }
    .home .content{
        align-items: center;
        padding-top: 200px;
    }
    .form .form_detail .form_content {
        width: 100%;
    }
    .form .form_detail .img {
        display: none;
    }
    .body .content .origin .text h2,
    .body .content .origin .text h3 {
        text-align: center;
    }
    .body .content .origin .text h3 {
        font-size: 35px;
    }
    .map .map_content .note .house_img {
        display: none;
    }
    .map .map_content .note_contact p {
        font-size: 16px;
    }
    .map .map_content .note_contact {
        padding: 20px 50px;
        text-align: center;
    }
}